NEXT_PUBLIC_SUPABASE_URL=https://ckbzuqtelndqlthuzcab.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrYnp1cXRlbG5kcWx0aHV6Y2FiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NDk5MjUsImV4cCI6MjA5MDUyNTkyNX0.i8oqDg2_7cwANO5WZki_MJpVo9jSFmkGUEO_4QZXa4g
